<!doctype html>
<html class="no-js" lang="en">
    <head>
    
        <!-- meta tag -->
        <meta charset="utf-8">
        <meta name="description" content="">
        
        <!-- site title -->
        <title>Dreamton - My Blog</title>
        
        <!-- necessary for mobile device -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--================================================
                            **** CSS ****
        ==================================================-->
        
        <!--fonts-->
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,100' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="static/fonts/Montserrat-Light.css">
        <link rel="stylesheet" href="static/fonts/Montserrat-Black.css">

        <!-- owl_carousel -->
        <link rel="stylesheet" href="static/css/owl.carousel.css">

        <!-- animate.css -->
        <link rel="stylesheet" href="static/css/animate.min.css">

        <!-- venobox -->
        <link rel="stylesheet" href="static/css/venobox.css">

        <!-- font awesome -->
        <link rel="stylesheet" href="static/css/font-awesome.min.css">

        <!-- bootstrap -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">

        <!--custom-->
        <link rel="stylesheet" href="static/css/style.css">

        <!--favicon-->
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.png"/>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <!-- ==================== blog_header_area start ==================== -->
        <header class="blog_header_area scrollto" id="home">
            <div class="blog_header_area_cell">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="blog_header_content text-center">
                                <h1>MY BLOG</h1>
                                <p>here are all the post of my blog</p>
                            </div> <!-- blog_header_content end -->
                        </div> <!-- col-xs-12 end -->
                    </div> <!-- row end -->
                </div> <!-- container end -->
            </div>
        </header>
        <!-- ==================== blog_header_area end ==================== -->


        <!-- ==================== mainmanu_area start ==================== -->
        <section class="header" id="header">
            <div class="mainmenu">

               <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> <!-- button end -->
                </div> <!-- navbar-header end -->

                <div class="collapse navbar-collapse">
                    <nav id="nav">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="http://themeextra.com/demos/dreamton/versions/p3"><i class="fa fa-home"></i>Welcome</a></li>
                            <li><a href="http://themeextra.com/demos/dreamton/versions/p3"><i class="fa fa-user"></i>About</a></li>
                            <li><a href="http://themeextra.com/demos/dreamton/versions/p3"><i class="fa fa-graduation-cap"></i>Resume</a></li>
                            <li><a href="http://themeextra.com/demos/dreamton/versions/p3"><i class="fa fa-briefcase"></i>portfolio</a></li>
                            <li><a href="http://themeextra.com/demos/dreamton/versions/p3"><i class="fa fa-quote-left"></i>Testimonial</a></li>
                            <li><a href="http://themeextra.com/demos/dreamton/versions/p3"><i class="fa fa-rocket"></i>Contact</a></li>
                        </ul>
                    </nav>
                </div><!-- navbar-collapse end -->
            </div> <!-- mainmenu end -->
        </section>
        <!-- ==================== mainmanu_area end ==================== -->


        <!-- ==================== blog_area start ==================== -->
        <section class="blog_area used scrollto" id="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="blog_img">
                            <img src="static/img/blog_1.jpg" alt="">
                            <div class="blog_img_detail">
                                <ul>
                                    <li><i class="fa fa-comments"></i><span>43</span> Comments </li>
                                    <li><i class="fa fa-heart"></i><span>227</span> love</li>
                                </ul>
                            </div> <!-- blog_img_detail end -->
                        </div>
                        <div class="blog_text">
                            <h3><a href="blog/a-simple-blog">Breaktime with the designer</a></h3>
                            <p>24th September, 2015</p>
                        </div>
                    </div> <!-- col-md-4 end -->
                    <div class="col-sm-4 col-xs-12">
                        <div class="blog_img">
                            <img src="static/img/blog_2.jpg" alt="">
                            <div class="blog_img_detail">
                                <ul>
                                    <li><i class="fa fa-comments"></i><span>20</span> Comments </li>
                                    <li><i class="fa fa-heart"></i><span>134</span> love</li>
                                </ul>
                            </div> <!-- blog_img_detail end -->
                        </div>
                        <div class="blog_text">
                            <h3><a href="blog/a-simple-blog">Useful ideas of all time</a></h3>
                            <p>14th July, 2015</p>
                        </div>
                    </div> <!-- col-md-4 end -->
                    <div class="col-sm-4 col-xs-12">
                        <div class="blog_img">
                            <img src="static/img/blog_3.jpg" alt="">
                            <div class="blog_img_detail">
                                <ul>
                                    <li><i class="fa fa-comments"></i><span>17</span> Comments </li>
                                    <li><i class="fa fa-heart"></i><span>93</span> love</li>
                                </ul>
                            </div> <!-- blog_img_detail end -->
                        </div>
                        <div class="blog_text">
                            <h3><a href="blog/a-simple-blog">Feel free from dipression</a></h3>
                            <p>22nd march, 2015</p>
                        </div>
                    </div> <!-- col-md-4 end -->


                    <div class="col-sm-4 col-xs-12">
                        <div class="blog_img">
                            <img src="static/img/blog_1.jpg" alt="">
                            <div class="blog_img_detail">
                                <ul>
                                    <li><i class="fa fa-comments"></i><span>43</span> Comments </li>
                                    <li><i class="fa fa-heart"></i><span>227</span> love</li>
                                </ul>
                            </div> <!-- blog_img_detail end -->
                        </div>
                        <div class="blog_text">
                            <h3><a href="blog/a-simple-blog">Breaktime with the designer</a></h3>
                            <p>24th September, 2015</p>
                        </div>
                    </div> <!-- col-md-4 end -->
                    <div class="col-sm-4 col-xs-12">
                        <div class="blog_img">
                            <img src="static/img/blog_2.jpg" alt="">
                            <div class="blog_img_detail">
                                <ul>
                                    <li><i class="fa fa-comments"></i><span>20</span> Comments </li>
                                    <li><i class="fa fa-heart"></i><span>134</span> love</li>
                                </ul>
                            </div> <!-- blog_img_detail end -->
                        </div>
                        <div class="blog_text">
                            <h3><a href="blog/a-simple-blog">Useful ideas of all time</a></h3>
                            <p>14th July, 2015</p>
                        </div>
                    </div> <!-- col-md-4 end -->
                    <div class="col-sm-4 col-xs-12">
                        <div class="blog_img">
                            <img src="static/img/blog_3.jpg" alt="">
                            <div class="blog_img_detail">
                                <ul>
                                    <li><i class="fa fa-comments"></i><span>17</span> Comments </li>
                                    <li><i class="fa fa-heart"></i><span>93</span> love</li>
                                </ul>
                            </div> <!-- blog_img_detail end -->
                        </div>
                        <div class="blog_text">
                            <h3><a href="blog/a-simple-blog">Feel free from dipression</a></h3>
                            <p>22nd march, 2015</p>
                        </div>
                    </div> <!-- col-md-4 end -->


                    <div class="col-sm-4 col-xs-12">
                        <div class="blog_img">
                            <img src="static/img/blog_1.jpg" alt="">
                            <div class="blog_img_detail">
                                <ul>
                                    <li><i class="fa fa-comments"></i><span>43</span> Comments </li>
                                    <li><i class="fa fa-heart"></i><span>227</span> love</li>
                                </ul>
                            </div> <!-- blog_img_detail end -->
                        </div>
                        <div class="blog_text">
                            <h3><a href="blog/a-simple-blog">Breaktime with the designer</a></h3>
                            <p>24th September, 2015</p>
                        </div>
                    </div> <!-- col-md-4 end -->
                    <div class="col-sm-4 col-xs-12">
                        <div class="blog_img">
                            <img src="static/img/blog_2.jpg" alt="">
                            <div class="blog_img_detail">
                                <ul>
                                    <li><i class="fa fa-comments"></i><span>20</span> Comments </li>
                                    <li><i class="fa fa-heart"></i><span>134</span> love</li>
                                </ul>
                            </div> <!-- blog_img_detail end -->
                        </div>
                        <div class="blog_text">
                            <h3><a href="blog/a-simple-blog">Useful ideas of all time</a></h3>
                            <p>14th July, 2015</p>
                        </div>
                    </div> <!-- col-md-4 end -->
                    <div class="col-sm-4 col-xs-12">
                        <div class="blog_img">
                            <img src="static/img/blog_3.jpg" alt="">
                            <div class="blog_img_detail">
                                <ul>
                                    <li><i class="fa fa-comments"></i><span>17</span> Comments </li>
                                    <li><i class="fa fa-heart"></i><span>93</span> love</li>
                                </ul>
                            </div> <!-- blog_img_detail end -->
                        </div>
                        <div class="blog_text">
                            <h3><a href="blog/a-simple-blog">Feel free from dipression</a></h3>
                            <p>22nd march, 2015</p>
                        </div>
                    </div> <!-- col-md-4 end -->
                </div> <!-- row end -->

                <div class="blog_button">
                    <ul>
                        <li> <a href="#"> <i class="fa fa-angle-double-left"></i> </a> </li>
                        <li class="active"> <a href="#">1</a> </li>
                        <li> <a href="#">2</a> </li>
                        <li> <a href="#">3</a> </li>
                        <li> <a href="#"> <i class="fa fa-angle-double-right"></i> </a> </li>
                    </ul>
                </div> <!-- blog_button end -->
            </div> <!-- container end -->
        </section>
        <!-- ==================== blog_area end ==================== -->


        <!-- ==================== footer_area start ==================== -->
        <footer class="footer_area scrollto">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-xs-12">
                        <div class="footer_content footer_sign">
                            <a href="#"><img src="static/img/signature.png" alt=""></a>
                        </div> <!-- footer_content end -->
                    </div> <!-- col-md-2 end -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="footer_content">
                            <div class="author_info">
                                <div class="footer_icon">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                                <div class="footer_text">
                                    <h3><a href="#">John Doe</a> <span>@john_doe </span><span class="hour">6h</span></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                                </div>
                            </div> <!-- author_info end -->
                        </div> <!-- footer_content end -->
                    </div> <!-- col-md-6 end -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer_social_media">
                            <a href="#">Facebook</a>
                            <a href="#">Twitter</a>
                            <a href="#">Google+</a>
                            <a href="#">Linkdin</a>
                        </div> <!-- footer_social_media end -->
                    </div> <!-- col-md-4 end -->
                </div> <!-- row end -->
            </div> <!-- container end -->
        </footer>
        <!-- ==================== footer_area end ==================== -->




        <!--===============================================
                          **** JS ****
        ================================================-->

        <!-- jquery necessary for all plug in -->
        <script src="static/js/jquery-1.11.3.min.js"></script>

        <!-- google map -->
        <script src="http://maps.googleapis.com/maps/api/js"></script>

        <!-- wow.js -->
        <script src="static/js/wow.min.js"></script>

        <!-- bootstrap -->
        <script src="static/js/bootstrap.min.js"></script>

        <!-- owl_carousel -->
        <script src="static/js/owl.carousel.min.js"></script>

        <!-- isotope -->
        <script src="static/js/isotope.pkgd.min.js"></script>

        <!-- contdown -->
        <script src="static/js/waypoints.min.js"></script>
        <script src="static/js/jquery.counterup.min.js"></script>

        <!-- smooth-scrolling -->
        <script src="static/js/jquery.easing.1.3.min.js"></script>

        <!-- sticky_menu -->
        <script src="static/js/jquery.stickyNavbar.min.js"></script>

        <!-- vonobox -->
        <script src="static/js/venobox.min.js"></script>

        <!-- parallax -->
        <script src="static/js/jquery.scrolly.js"></script>

        <!-- custom -->
        <script src="static/js/main.js"></script>

    </body>
</html>
